@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

:root {
  --primary-color: #430A5D;
  --secondary-color: #5F374B;
  --third-color: #8C6A5D;
  --fourth-color: #EEE4B1;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}


.hero {
    position: relative;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--fourth-color);
    border: 8px solid var(--fourth-color);
}
  
.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: .4;
    background-image: url('./assets/pics/Luna-main.jpg');
    background-size: cover;
    background-position: center;

}

.content {
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 500px;
}

.about {
    
    display: grid;
    place-content: center;
    text-align: left;
    min-height: 500px;
    font-size: 2rem;
    padding: 10px 20px;
    border-bottom: 3px solid #ffffff;
}

.about h2 {
    color: var(--fourth-color);
    text-align: center;
    font-family: "Whisper";
}

.about p {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times;
}
  
.content h2 {
    font-size: 4.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.pet {
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

.pet img {
    width: 100%;
}

.pet-info {
    color: #eee;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem 1rem;
    margin-top: 5px;
}

.pet-info h3 {
    margin-top: 0;
}

.overview {
background-color: var(--third-color);
padding: 2rem;

}

.overview h3 {
    display: flex;
    justify-content: center;
  
}