@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

:root {
  --primary-color: #430A5D;
  --secondary-color: #5F374B;
  --third-color: #8C6A5D;
  --fourth-color: #EEE4B1;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  margin: 0;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-family: "Cedarville Cursive", cursive;
}


.hero {
    position: relative;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--fourth-color);
    border: 8px solid var(--fourth-color);
}
  
.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: .4;
    background-image: url('./assets/pics/Luna-main.jpg');
    background-size: cover;
    background-position: center;

}

.content {
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 500px;
}

.about {
    
    display: grid;
    place-content: center;
    text-align: left;
    min-height: 500px;
    font-size: 2rem;
    padding: 10px 20px;
    border-bottom: 3px solid #ffffff;
}

.about h2 {
    color: var(--fourth-color);
    text-align: center;
    font-family: "Whisper";
}

.about p {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times;
}
  
.content h2 {
    font-size: 4.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 20px;
   
}

.find {
    display: flex;
    justify-content: center;
    margin-top: 1em;

}

#btn {
    width: 200px;
    height: 200px;
    margin:8px auto;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Cedarville Cursive", cursive;
    color: var(--fourth-color);
    background-color: #430A5D;
    border: #eee solid 6px;
    cursor: pointer;
    transition: transform 0.3s ease 0.2s;
    border-radius: 3px;
}

#btn:hover{
    background-color: #600A5E;
}


.pet {
    width: 300px;
    height: 500px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    margin:8px auto;
}

.pet img {
    display: flex;
    margin: 0 auto;
    width: 95%;
    height: 50%;
}

.pet-info {
    color: #eee;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem 1rem;
    margin-top: 5px;
}

.pet-info h3 {
    margin-top: 0;
}

.overview {
background-color: var(--third-color);
padding: 1rem;

}

.overview h3 {
    display: flex;
    justify-content: center;
  
}

#p-intro {
    text-align: center;
}

/* Search Page */

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}

.image-container img {
    width: 300px;
    height: auto;
    cursor: pointer;
    border: #EEE4B1 solid 20px;
    border-radius: 20px;
    transition: transform 0.3s ease 0.7s;
}

.image-container img:hover {
   transform: scale(1.1);
}